<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net451" />
  <package id="Elmah.Contrib.WebApi" version="1.0.9.0" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net451" />
  <package id="elmah.mongodb" version="1.7" targetFramework="net451" />
  <package id="LightInject" version="3.0.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.7" targetFramework="net451" />
  <package id="Munq.IocContainer" version="3.1.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" />
  <package id="Test.Framework.Core" version="1.0.5430.24086" targetFramework="net451" />
</packages>