<?xml version="1.0" encoding="utf-8"?>
<loginShardLookup>
  <loginShards>
    <add startsWith="a" clusterId="0" />
    <add startsWith="A" clusterId="0" />
    <add startsWith="b" clusterId="0" />
    <add startsWith="B" clusterId="0" />
    <add startsWith="c" clusterId="0" />
    <add startsWith="C" clusterId="0" />
    <add startsWith="d" clusterId="0" />
    <add startsWith="D" clusterId="0" />
    <add startsWith="e" clusterId="0" />
    <add startsWith="E" clusterId="0" />
    <add startsWith="f" clusterId="0" />
    <add startsWith="F" clusterId="0" />
    <add startsWith="g" clusterId="0" />
    <add startsWith="G" clusterId="0" />
    <add startsWith="h" clusterId="0" />
    <add startsWith="H" clusterId="0" />
    <add startsWith="i" clusterId="0" />
    <add startsWith="I" clusterId="0" />
    <add startsWith="j" clusterId="0" />
    <add startsWith="J" clusterId="0" />
    <add startsWith="k" clusterId="0" />
    <add startsWith="K" clusterId="0" />
    <add startsWith="l" clusterId="0" />
    <add startsWith="L" clusterId="0" />
    <add startsWith="m" clusterId="0" />
    <add startsWith="M" clusterId="0" />
    <add startsWith="n" clusterId="0" />
    <add startsWith="N" clusterId="0" />
    <add startsWith="o" clusterId="0" />
    <add startsWith="O" clusterId="0" />
    <add startsWith="p" clusterId="0" />
    <add startsWith="P" clusterId="0" />
    <add startsWith="q" clusterId="0" />
    <add startsWith="Q" clusterId="0" />
    <add startsWith="r" clusterId="0" />
    <add startsWith="R" clusterId="0" />
    <add startsWith="s" clusterId="0" />
    <add startsWith="S" clusterId="0" />
    <add startsWith="t" clusterId="0" />
    <add startsWith="T" clusterId="0" />
    <add startsWith="u" clusterId="0" />
    <add startsWith="U" clusterId="0" />
    <add startsWith="v" clusterId="0" />
    <add startsWith="V" clusterId="0" />
    <add startsWith="w" clusterId="0" />
    <add startsWith="W" clusterId="0" />
    <add startsWith="x" clusterId="0" />
    <add startsWith="X" clusterId="0" />
    <add startsWith="y" clusterId="0" />
    <add startsWith="Y" clusterId="0" />
    <add startsWith="z" clusterId="0" />
    <add startsWith="Z" clusterId="0" />
  </loginShards>
</loginShardLookup>