<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightInject" version="3.0.2.0" targetFramework="net45" />
  <package id="Munq.IocContainer" version="3.1.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Test.Framework.Cache.Core" version="1.0.5412.29641" targetFramework="net45" />
  <package id="Test.Framework.Core" version="1.0.5430.24086" targetFramework="net45" />
</packages>